<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FOTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://i.pinimg.com/736x/b0/e9/11/b0e91175f0772af0f80ab3a544587443.jpg"></ion-img>
  <br>
  <ion-img src="https://www.xtrafondos.com/thumbs/1_11524.jpg"></ion-img>
  <br>
  <ion-img src="https://w.forfun.com/fetch/34/34ea823ba06e0bbaf330c3c658239c3e.jpeg"></ion-img>
  <br>
  <ion-img src="https://i.blogs.es/ed4d47/fondos-oled-1/450_1000.webp"></ion-img>
</ion-content>
