<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ENCUENTRANOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="https://e7.pngegg.com/pngimages/223/244/png-clipart-computer-icons-avatar-user-profile-avatar-heroes-rectangle.png" />
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="https://static.vecteezy.com/system/resources/previews/007/698/902/original/geek-gamer-avatar-profile-icon-free-vector.jpg" />
    </ion-avatar>
    <ion-label>Presioname</ion-label>
  </ion-chip>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://img.freepik.com/free-vector/cute-cat-gaming-cartoon_138676-2969.jpg?w=2000" />
    </ion-avatar>
    <ion-label>Ingresa aquí</ion-label>
  </ion-item>
  
</ion-content>
